name: Build Binder Image
on: 
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout files in repo
      uses: actions/checkout@v3

    - name: Build and Cache for Binder
      uses: jupyterhub/repo2docker-action@master
      with:
        NO_PUSH: 'true'
        BINDER_CACHE: 'true'
        # Setting this to true prevents the action from committing a Dockerfile
        NO_GIT_PUSH: 'true'